@page
@model RobotWebShop.Pages.Accounts.LoginModel
@{
}


<form method="post">
	<input asp-for="Input.UserName" placeholder="User Name"/>
	<input asp-for="Input.Password" placeholder="Password"/>
	<input type="submit" name="name" value="Sign In" />
</form>